body{
    
    background-image: url(photo.jpg) ;
            display:flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .name, .email{
            margin-right:22px;
        }
        div{
            margin-bottom:10px;
        }
        input{
        border-radius: 20px;
        width:100%;
        border:none;
        }
        .margin{
            border:2px solid;
            border-radius: 25px;
            width:300px;
            height:300px;
            display:flex;
            align-items: center;
            justify-content: center;
            border-color: #93A5CF;
            background-color: rgb(38, 151, 189);
        }
        button{
            box-shadow:  0px 0px 20px rgb(220, 205, 38);
            border-radius: 20px;
            
            margin-top: 10px;
            border:none;
        }
        
        